{% extends 'base.html.twig' %}

{% block title %}Denied{% endblock %}
{% block header %}
{{ include('nav.html.twig') }}
{% endblock %}
{% block contenent %}

<button class="navbar-toggler" a href="{{path("app_login_denied")}}" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>