{% extends 'base.html.twig' %}

{% block title %}Hello Lucas!{% endblock %}

{% block header %}
{{ include('nav_secret.html.twig') }}
{% endblock %}
{% block contenent %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

    <h2>Hello Lucas ! </h2>
    <p>Cette page m'est venu avec la possibilité d'avoir 2 nav + l'easy admin pour faire un genre de 
    darkweb / site caché</p>
    <p>Je ne sais pas si je vais le continué j'ai profité de cette partie pour mettre ma création d'article que j'ai faite en dehors
     l'appfixture et avant le crud pour ne pas le perdre, donc n'hésite pas à regarder </p>
</div>
{% endblock %}
