{% extends 'base.html.twig' %}

{% block title %}Thafe-ïn - Accueil{% endblock %}

{% block header %}
{{ include('nav.html.twig') }}
{% endblock %}
{% block contenent %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/HB/Documents/H-B/Dev/Symfony/projet-symfo/projet-symfo/src/Controller/SecretController.php</code></li>
        <li>Your template at <code>C:/Users/HB/Documents/H-B/Dev/Symfony/projet-symfo/projet-symfo/templates/secret/index.html.twig</code></li>
    </ul>
</div>
<div class="example-wrapper">
    <h2>Contact</h2>
{% block contact %}
    <div class= "container d-flex row justify-center">
    <h1 class="text-4xl uppercase"></h1>
    {# <h4 class="text-3xl">Ne manquez aucune information</h4> #}
        {# {{ include('contact/index.html.twig') }} #}
    </div>
</div>
{% endblock %}
{% endblock %}



